@keyframes pulse {
  0% {
    opacity: 1; }
  25% {
    opacity: .75; }
  50% {
    opacity: .5; }
  75% {
    opacity: .25; }
  100% {
    opacity: 0; } }

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray:  hsl(0, 0%, 41%); }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 93.75%;
  font-family: 'Alata', 'Josefin Sans', sans-serif; }

a.btn {
  float: right;
  text-transform: uppercase;
  letter-spacing: .7ch;
  border: 1px solid black;
  padding: .7rem 2rem .7rem;
  text-decoration: none;
  color: var(--black);
  border-radius: 3px; }
  @media screen and (max-device-width: 480px) {
    a.btn {
      float: none;
      display: block;
      width: 50%;
      position: relative;
      text-align: center;
      margin: 0 auto;
      top: 83rem; } }
  a.btn:link, a.btn:visited {
    color: var(--black); }
  a.btn:hover, a.btn:active {
    background-color: var(--black);
    color: var(--white); }

.list--item {
  display: inline-block; }
  .list--item:not(:last-child) {
    margin-right: 3rem; }

.list--link {
  position: relative; }
  .list--link:link, .list--link:visited {
    color: var(--white);
    text-decoration: none; }
  .list--link:hover, .list--link:active {
    color: var(--white);
    text-decoration: none; }
  .list--link:hover::after {
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 2rem;
    right: 16%;
    animation: pulse 1.5s infinite ease-in-out; }

.burger {
  display: none; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .burger {
      display: block;
      position: absolute;
      right: 2rem;
      top: 5rem; } }
  .burger__checkbox {
    display: none; }
  .burger__button {
    cursor: pointer; }
  .burger__icon {
    position: relative; }
    .burger__icon, .burger__icon::before, .burger__icon::after {
      display: inline-block;
      width: 2rem;
      height: 2px;
      background-color: var(--white); }
    .burger__icon::before {
      content: "";
      position: absolute;
      top: -.5rem; }
    .burger__icon::after {
      content: "";
      position: absolute;
      top: .5rem; }
  .burger__nav {
    position: absolute;
    transition: transform .9s ease-in-out; }
  .burger__list {
    display: none;
    list-style-type: none;
    position: relative;
    top: 1.5rem;
    left: 5rem; }
  .burger__item {
    display: inline;
    margin-right: .9rem; }
  .burger__link {
    text-decoration: none; }
    .burger__link:link, .burger__link:visited {
      color: var(--white);
      text-decoration: none; }
    .burger__link:hover, .burger__link:active {
      color: var(--white);
      text-decoration: none; }
  .burger__checkbox:checked ~ .burger__nav .burger__list {
    display: inline-flex; }
  .burger__checkbox:checked ~ .burger__nav {
    transform: translate(-129%); }

.creations {
  position: relative;
  margin-top: 8rem;
  margin-bottom: 3rem; }
  .creations::after {
    content: "";
    clear: both;
    display: table; }
  @media screen and (max-device-width: 480px) {
    .creations {
      margin-top: 6rem;
      margin-bottom: 0; } }
  .creations h1 {
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
    font-weight: lighter;
    float: left; }
    @media screen and (max-device-width: 480px) {
      .creations h1 {
        font-size: 2rem;
        float: none;
        text-align: center; } }

.footer {
  background-color: var(--black);
  padding-bottom: 2rem; }
  @media screen and (max-device-width: 480px) {
    .footer {
      text-align: center;
      padding-bottom: 3rem; } }
  .footer__one {
    width: 65%;
    margin: 0 auto;
    padding-top: 3rem; }
  .footer__two {
    width: 65%;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem; }
    @media screen and (max-device-width: 480px) {
      .footer__two {
        padding-top: 0; } }
  .footer__list {
    float: left; }
    @media screen and (max-device-width: 480px) {
      .footer__list {
        float: none; } }
  .footer__list--item {
    margin-bottom: 1rem;
    display: inline-block; }
    .footer__list--item:not(:last-child) {
      margin-right: 3rem; }
    @media screen and (max-device-width: 480px) {
      .footer__list--item {
        display: block; }
        .footer__list--item:not(:last-child) {
          margin-right: 0; } }
  .footer__objects {
    float: right; }
    @media screen and (max-device-width: 480px) {
      .footer__objects {
        float: none;
        position: relative;
        top: 15rem; } }
    .footer__objects a:not(:last-child) {
      margin-right: 1rem; }

.copyright {
  float: right;
  color: var(--very-dark-gray); }
  @media screen and (max-device-width: 480px) {
    .copyright {
      float: none;
      margin-top: 5rem; } }

.container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto;
  width: auto;
  column-gap: 1rem;
  row-gap: 2rem; }
  @media screen and (max-device-width: 480px) {
    .container {
      display: block; } }

.item {
  position: relative;
  transition: opacity .3s ease-in; }
  @media screen and (max-device-width: 480px) {
    .item {
      margin-bottom: 1rem; } }
  .item a {
    text-decoration: none;
    transition: color 1s ease-in; }
  .item:hover {
    cursor: pointer;
    opacity: .6; }
    .item:hover a {
      color: var(--black);
      font-weight: 800; }
  .item img {
    width: 100%; }

.caption {
  width: 60%;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: bolder;
  color: var(--white);
  position: absolute;
  bottom: 2rem;
  left: 2.5rem; }
  @media screen and (max-device-width: 480px) {
    .caption {
      left: 0;
      bottom: 1.5rem;
      font-size: 1.6rem;
      padding: 0 1.5rem; } }

.header {
  background: top;
  background-size: cover;
  height: 75vh;
  position: relative; }
  .header__desktop {
    position: absolute;
    width: 100%; }
  .header__nav {
    width: 65%;
    margin: 0 auto;
    padding-top: 5rem; }
    .header__nav::after {
      content: "";
      clear: both;
      display: table; }
    @media screen and (max-device-width: 480px) {
      .header__nav {
        width: 80%; } }
  .header__logo {
    position: relative;
    float: left; }
  .header__list {
    float: right; }
    @media screen and (max-device-width: 480px) {
      .header__list {
        display: none; } }
  .header__title {
    position: absolute;
    top: 18rem;
    left: 21.93rem;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: lighter;
    color: var(--white);
    border: 1px solid var(--white);
    padding: 2rem 2.5rem 2rem 2rem;
    width: 39%; }
    @media screen and (max-device-width: 480px) {
      .header__title {
        width: 82%;
        left: 3rem;
        margin: 2rem 0;
        font-size: 1.5rem;
        padding: 2rem 1rem 1rem;
        line-height: 1; } }

.main {
  width: 65%;
  margin: 14rem auto 10rem; }
  @media screen and (max-device-width: 480px) {
    .main {
      width: 80%;
      padding-bottom: 2rem; } }

.virtual {
  position: relative; }
  @media screen and (max-device-width: 480px) {
    .virtual img {
      width: 100%; } }

.description {
  width: 55%;
  padding: 6rem 7.5rem 6rem 9rem;
  position: absolute;
  top: 14rem;
  background-color: white;
  left: 39rem; }
  @media screen and (max-device-width: 480px) {
    .description {
      position: initial;
      width: 100%;
      padding: 0; } }
  .description h1 {
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 1.5rem;
    font-weight: lighter; }
    @media screen and (max-device-width: 480px) {
      .description h1 {
        font-size: 2rem;
        margin-top: 1.5rem;
        text-align: center; } }
  .description p {
    color: var(--dark-gray);
    line-height: 1.5; }
    @media screen and (max-device-width: 480px) {
      .description p {
        text-align: center;
        padding: 0 2rem; } }
