@keyframes pulse {
  0% {
    opacity: 1; }
  25% {
    opacity: .75; }
  50% {
    opacity: .5; }
  75% {
    opacity: .25; }
  100% {
    opacity: 0; } }

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray:  hsl(0, 0%, 41%); }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 93.75%;
  font-family: 'Alata', 'Josefin Sans', sans-serif; }

a.btn {
  float: right;
  text-transform: uppercase;
  letter-spacing: .7ch;
  border: 1px solid black;
  padding: .7rem 2rem .7rem;
  text-decoration: none;
  color: var(--black);
  border-radius: 3px; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    a.btn {
      float: none;
      position: absolute;
      transform: translateX(55%);
      top: 82rem; } }
  a.btn:link, a.btn:visited {
    color: var(--black); }
  a.btn:hover, a.btn:active {
    background-color: var(--black);
    color: var(--white); }

.list--item {
  display: inline-block; }
  .list--item:not(:last-child) {
    margin-right: 3rem; }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      .list--item:not(:last-child) {
        margin-right: 2rem; } }

.list--link {
  position: relative; }
  .list--link:link, .list--link:visited {
    color: var(--white);
    text-decoration: none; }
  .list--link:hover, .list--link:active {
    color: var(--white);
    text-decoration: none; }
  .list--link:hover::after {
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 2rem;
    right: 16%;
    animation: pulse 1.5s infinite ease-in-out; }

.burger {
  display: none; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .burger {
      display: block;
      position: absolute;
      right: 2rem;
      top: 5rem; } }
  .burger__checkbox {
    display: none; }
  .burger__button {
    cursor: pointer; }
  .burger__icon {
    position: relative; }
    .burger__icon, .burger__icon::before, .burger__icon::after {
      display: inline-block;
      width: 2rem;
      height: 2px;
      background-color: var(--white); }
    .burger__icon::before {
      content: "";
      position: absolute;
      top: -.5rem; }
    .burger__icon::after {
      content: "";
      position: absolute;
      top: .5rem; }
  .burger__nav {
    position: absolute;
    transition: transform 1s ease-in-out; }
  .burger__list {
    display: none;
    list-style-type: none;
    position: relative;
    top: 1.5rem;
    left: 5rem; }
  .burger__item {
    display: inline;
    margin-right: .9rem; }
  .burger__link {
    text-decoration: none; }
    .burger__link:link, .burger__link:visited {
      color: var(--white);
      text-decoration: none; }
    .burger__link:hover, .burger__link:active {
      color: var(--white);
      text-decoration: none; }
  .burger__checkbox:checked ~ .burger__nav .burger__list {
    display: inline-flex; }
  .burger__checkbox:checked ~ .burger__nav {
    transform: translate(-122%); }

.creations {
  margin-top: 8rem;
  margin-bottom: 3rem; }
  .creations::after {
    content: "";
    clear: both;
    display: table; }
  @media only screen and (min-device-width: 769px) and (max-device-width: 1600px) {
    .creations {
      margin-top: 14rem; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .creations {
      margin-top: 10rem; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .creations {
      position: relative;
      margin-top: 23rem; } }
  .creations h1 {
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
    font-weight: lighter;
    float: left; }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
      .creations h1 {
        float: none;
        text-align: center;
        font-size: 2rem; } }

.footer {
  background-color: var(--black); }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .footer {
      position: relative;
      text-align: center;
      padding-bottom: 4rem; } }
  .footer__one {
    width: 65%;
    margin: 0 auto;
    padding-top: 3rem; }
    @media only screen and (max-width: 1200px) {
      .footer__one {
        width: 75%; } }
  .footer__two {
    width: 65%;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem; }
    @media only screen and (max-width: 1200px) {
      .footer__two {
        width: 75%; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      .footer__two {
        padding-top: 1rem; } }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
      .footer__two {
        padding-top: 2rem; } }
    .footer__two ul {
      display: inline-block; }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        .footer__two ul li:not(:last-child) {
          margin-right: 2rem; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
        .footer__two ul li {
          display: block; } }
  .footer__objects {
    float: right; }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
      .footer__objects {
        float: none;
        position: absolute;
        bottom: 4rem;
        left: 2rem;
        transform: translateX(50%); } }
    .footer__objects a:not(:last-child) {
      margin-right: 1rem; }

.copyright {
  float: right;
  color: var(--very-dark-gray); }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .copyright {
      float: none;
      margin-top: 1.5rem; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .copyright p {
      padding-top: 4rem;
      padding-right: 1.5rem; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #f_list--item {
    margin-right: 0;
    margin-bottom: 1rem; } }

.container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto;
  width: auto;
  column-gap: 1rem;
  row-gap: 2rem; }
  @media only screen and (max-width: 1200px) {
    .container {
      grid-template-columns: repeat(3, auto);
      column-gap: .5rem;
      row-gap: .5rem; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .container {
      grid-template-columns: repeat(4, auto); } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .container {
      display: block; } }

.item {
  position: relative;
  transition: opacity .3s ease-in; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .item {
      margin-bottom: 1rem; } }
  .item a {
    text-decoration: none;
    transition: color 1s ease-in; }
  .item:hover {
    cursor: pointer;
    opacity: .6; }
    .item:hover a {
      color: var(--black);
      font-weight: 800; }
  .item img {
    width: 100%; }

.caption {
  width: 60%;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: bolder;
  color: var(--white);
  position: absolute;
  bottom: 2rem;
  left: 2.5rem; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .caption {
      width: 59%;
      font-size: 1rem;
      left: 1rem;
      bottom: 1rem; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .caption {
      width: 45%;
      font-size: 1.5rem;
      left: 1rem;
      bottom: 1rem; } }

.header {
  background: top;
  background-size: cover;
  height: 75vh;
  position: relative; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .header {
      height: 50vh; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .header {
      height: 100vh; } }
  .header__desktop {
    position: absolute;
    width: 100%; }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      .header__desktop {
        width: 100%; } }
  .header__nav {
    width: 65%;
    margin: 0 auto;
    padding-top: 5rem; }
    .header__nav::after {
      content: "";
      clear: both;
      display: table; }
    @media only screen and (max-width: 1200px) {
      .header__nav {
        width: 75%; } }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
      .header__nav {
        width: 79%; } }
  .header__logo {
    position: relative;
    float: left; }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      .header__logo {
        float: none; } }
  .header__list {
    float: right; }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      .header__list {
        float: none;
        position: relative;
        top: 1.5rem;
        left: 8.5rem; } }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
      .header__list {
        display: none; } }
  .header__title {
    position: absolute;
    top: 18rem;
    left: 21.93rem;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: lighter;
    color: var(--white);
    border: 1px solid var(--white);
    padding: 2rem 2.5rem 2rem 2rem;
    width: 39%; }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      .header__title {
        left: 8.5rem;
        top: 11rem;
        font-size: 1.5rem; } }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
      .header__title {
        top: 20rem;
        left: 2.5rem;
        width: 82%;
        font-size: 1.3rem;
        padding: 1rem; } }

.main {
  width: 65%;
  margin: 7rem auto 10rem; }
  @media only screen and (min-device-width: 769px) and (max-device-width: 1600px) {
    .main {
      margin-top: 8rem; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .main {
      width: 75%;
      margin-top: 6rem;
      margin-bottom: 3rem; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .main {
      width: 90%;
      margin-top: 3rem; } }

.virtual {
  position: relative; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .virtual img {
      width: 52%; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .virtual img {
      width: 100%; } }

.description {
  width: 55%;
  padding: 6rem 7.5rem 6rem 9rem;
  position: absolute;
  top: 14rem;
  background-color: white;
  left: 39rem; }
  @media only screen and (min-device-width: 769px) and (max-device-width: 1600px) {
    .description {
      top: 21rem;
      left: 31rem;
      padding-right: 2rem;
      padding-left: 3rem; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .description {
      padding-bottom: 2rem;
      padding-top: 2rem;
      width: 67%;
      left: 19rem;
      top: 8rem; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .description {
      width: auto;
      top: 17rem;
      left: 0;
      padding: 0; } }
  .description h1 {
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 1.5rem;
    font-weight: lighter; }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      .description h1 {
        font-size: 2.5rem; } }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
      .description h1 {
        margin-top: 1.5rem;
        font-size: 2rem;
        text-align: center; } }
  .description p {
    color: var(--dark-gray);
    line-height: 1.5; }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
      .description p {
        text-align: center;
        line-height: 1.8;
        padding: 0 1.5rem; } }
