.creations {

    position: relative;
    margin-top: 8rem;
    margin-bottom: 3rem;

    @include clearfix;

    @media screen and (max-device-width: 480px) {
        margin-top: 6rem;
        margin-bottom: 0;
    }



    h1 {
        text-transform: uppercase;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 3rem;
        font-weight: lighter;
        float: left;

        @media screen and (max-device-width: 480px) {
            font-size: 2rem;
            float: none;
            text-align: center;
        }
    }

}
