.footer {

    background-color: var(--black);


    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        position: relative;
        text-align: center;
        padding-bottom: 4rem;
    }


    &__one {

        width: 65%;
        margin: 0 auto;
        padding-top: 3rem;
        
        @media only screen  and (max-width : 1200px) {
            width: 75%;
        }

    }

        &__two {

        width: 65%;
        margin: 0 auto;
        padding-top: 3rem;
        padding-bottom: 3rem;

        @media only screen  and (max-width : 1200px) {
            width: 75%;
        }

        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {

            padding-top: 1rem;
        }

        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            padding-top: 2rem;
        }


        ul {
            display: inline-block;


            li {
                    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

                        &:not(:last-child) {
                            margin-right: 2rem;
                        }

                }

                @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                    display: block;
                }
            }
        }
    }


    &__objects {

        float: right;


        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            float: none;
            position: absolute;
            bottom: 4rem;
            left: 2rem;
            transform: translateX(50%);
            
        }

        a {
            &:not(:last-child) {
                margin-right: 1rem;

            }
        }
    }
}

.copyright {

    float: right;
    color: var(--very-dark-gray);

        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

        float: none;
        margin-top: 1.5rem;
    }

    p {
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            padding-top: 4rem;
            padding-right: 1.5rem;
        }
    }
}

#f--item {

    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        margin-right: 0;
        margin-bottom: 1rem;
    }
}  