a.btn {

        float: right;
        text-transform: uppercase;
        letter-spacing: .7ch;
        border: 1px solid black;
        padding: .7rem 2rem .7rem;
        text-decoration: none;
        color:var(--black);
        border-radius: 3px;


        @media screen and (max-device-width: 480px) {
            float: none;
            display: block;
            width: 50%;
            position: relative;
            text-align: center;
            margin: 0 auto;
            top: 83rem;
        }


    &:link,
    &:visited {
        
        
        color:var(--black);
    }

    &:hover,
    &:active {

        background-color:var(--black);
        color: var(--white)
    }
}



.closeBtn {

    position: relative; 
    top: 1rem;
    left: 9rem;

    & {
        background-color: transparent;
        border: none;
    }



    &::before,
    &::after{

        display: inline-block;
        width: 1.8rem;
        height: 2px;
        background-color: var(--white);
        cursor: pointer;
        
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        transform: rotate(135deg);
        
    }


    &::after {
        content: "";
        position: absolute;
        top: 0;
        transform: rotate(-135deg);
    }
}