@keyframes pulse {
    
    0% {
        opacity: 1;
    }

    25% {
        opacity: .75;
    }

    50% {
        opacity: .5;
    }


    75% {
        opacity: .25;
    }

    100% {
        opacity: 0;
    }
}
